<div class="my-5"></div>
<form action="{{post.get_absolute_url}}" class="col mx-auto" method="POST">
    {% csrf_token %}
    {{form}}
    <button class="btn btn-outline-success float-right mx-5">Submit</button>
</form>
<ol>
    {% for comment in post.get_comments %}
    <li>
        <div class="container mt-2">
            <div class="d-flex border p-2 rounded bg-light">
                <img class="rounded-circle shadow" src="{{comment.author.headshot.url}}" height="40"
                    alt="{{comment.author}} Image">
                <div class="mx-2">
                    <div class="font-weight-bold">{{comment.author.user.username}}</div>
                    <div class="text-muted small">{{comment.date_created|timesince}}</div>
                </div>
                <div class="bg-white rounded p-2">
                    {{comment.comment}}
                </div>
                <div class="ml-auto mt-auto">
                   
                    <button class="btn btn-outline-info small child_comment_reply" data-url="{{comment.get_create_child_url}}"> <i class="fa fa-comments" aria-hidden="true"></i> <span class="small">Reply</span></button>
                </div>
            </div>
            {% include 'post/child_comment_details.html' %}
        </div>
    </li>
    {% endfor %}
</ol>