<div class="infinite-container">
  {% for post in posts %}
  <div class="shadow rounded p-3 infinite-item">
    <div class="d-flex mt-2">
      <img class="rounded-circle shadow" src="{{post.author.headshot.url}}" height="50" alt="{{post.author}} Image">
      <div class="mx-2">
        <div class="font-weight-bold">{{post.author.user.username}}</div>
        <div class="text-muted small">{{post.date_updated|timesince}}</div>
      </div>
      {% include 'post/header_post_dropdown.html' %}
    </div>
    <a class="card-link text-dark post_detail_view" data-url='{{post.get_absolute_url}}'
      href="{{post.get_absolute_url}}">
      <div class="mx-5">
        <div class="row">
          <div class="col order-{% cycle '1' '2' %} bg-light rounded">
            <div class="h5 text-center mt-3">{{post.title|truncatewords:50}}</div>
          </div>
          {% for image in post.get_images %}
          {% if forloop.first %}
          <div class="overflow-hider col-md-5 order-{% cycle '2' '1' %} mx-auto">
            <img class="img-fluid rounded w-100 inlarge-scale" src="{{image.thumbnail.url}}" alt="Post Image">
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <section class="text-justify">
          {{post.content|safe|truncatewords_html:60}}
          {% if post.content|length > 100 %}
          <div class="p-0 btn text-muted float-right">Read more</div>
          {% endif %}
        </section>
      </div>
    </a>
    <div id="footer_post_button_{{post.pk}}">
      {% include 'post/footer_post_buttons.html' %}
    </div>
  </div>
  {% endfor %}
</div>