<!-- Reusable Modal -->
<div class="modal fade" id="reusable_modal" tabindex="-1" role="dialog" aria-labelledby="create_postLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="reusable_modal_content">
      <!-- Inside of the modal -->
    </div>
  </div>
</div>

<div class="modal fade" id="comment_reusable_modal" tabindex="-1" role="dialog" aria-labelledby="create_postLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="comment_reusable_modal_content">
      <!-- Inside of the modal -->
    </div>
  </div>
</div>