<div class="dropdown ml-auto mr-2 dropleft">
    <button class="btn btn-sm" type="button" id="social-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="social-dropdown-menu">
        <a class="dropdown-item small" href="#"><i class="fa fa-superpowers" aria-hidden="true"></i> Superlike</a>
        <a class="dropdown-item small" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update</a>
        <a class="dropdown-item small" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
    </div>
</div>